
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: gray;
    padding: 16px 0;
    color: #f5f6fa;

}

header .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: #f5f6fa;
    text-decoration: none;
}

.conteiner{
    width: 1366px;
    margin: 0 auto;
}

.artigos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artigos article img {
    /*height: 180px;*/
    width: 100%;
}

.artigos article {
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2, 
.artigos article {
    margin-bottom: 16px ;
}

.artigos article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.artigos article a {
    background-color: blue;
    color: #fff;
    padding: 3px;
    display: inline-block;
    text-decoration: none;
    font-weight: lighter;
    margin-top: 8px;

}

.artigos article a:hover {
    text-decoration: underline;
}

.artigos article p,
.artigos article a  {
    font-family: Arial, Helvetica, sans-serif;
}

section h2{
    font-size: 32px;

}

#esportes {
    background-color: rgba(0, 255, 0, 0.1);
}

#esportes .artigos article a {
    background:  #009432    ;
}

#economia {
    background-color: #f8f59f;
}

#economia .artigos article a{
    background-color: #ff9f1a;

}

#entretenimento {
    background: rgba(255, 0, 0, 0.2);
}

#entretenimento .artigos article a{
    background-color: #ff1a1a;
}

#tecnologia {
    background: rgba(0, 0, 255, 0.2);
}

#tecnologia .artigos article a{
    background-color: #29036e;